<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container clearfix">
        <div class="people-list" id="people-list">
          <div class="search">
            <input type="text" placeholder="search" /><i class="fa fa-search"></i>
          </div>

          <ul class="list">
            <% if (chatData.usersList && chatData.usersList.length) { %>
              <% chatData.usersList.forEach((user) => { %>
                <a href="/chat/<%= user.id %>" class="user-item">
                  <li class="clearfix <%= chatData.he.id && chatData.he.id === user.id ? 'active' : '' %>">
                    <img src="https://eu.ui-avatars.com/api/?name=<%= user.username %>&background=random" />
                    <div class="about">
                      <div class="name"><%= user.username %></div>
                      <span class="badge" style="display: none;" title="New messages-">0</span>
                      <div class="status" data-id="<%= user.id %>">
                        <i class="fa fa-circle <%= user.online %>"></i> <%= user.online %>
                      </div>
                    </div>
                  </li>
                </a>
              <% }) %>
            <% } %>
          </ul>
        </div>

        <div class="chat">
          <% if (chatData.he.id) { %>
            <div class="chat-header clearfix">
              <img src="https://eu.ui-avatars.com/api/?name=<%= chatData.he.username %>&background=random" />
              <div class="chat-about">
                <div class="chat-with"><%= chatData.he.username %></div>
                <div class="status" data-id="<%= chatData.he.id %>">
                  <i class="fa fa-circle <%= chatData.he.online %>"></i> <%= chatData.he.online %>
                </div>
              </div>
              <i class="fa fa-close" title="Logout"></i>
            </div>
          <% } %>
          
          <div class="chat-history">
            <div class="preloader" style="display: none;">Loading</div>
            <ul>
              <% if (chatData.messages.length) { %>
                <% chatData.messages.forEach((message) => { %>
                  <li class="clearfix">
                    <div class="message-data <%= message.me ? 'align-right' : '' %>">
                      <span class="message-data-time" ><%= message.created %></span>
                      <span class="message-data-name" ><%= message.user.username %></span> <i class="fa fa-circle me"></i>
                    </div>
                    <div class="message <%= message.me ? 'other-message float-right' : 'my-message' %>">
                      <%= message.message %>

                      <% if (message.image) { %>
                        <div class="message-image"><img src="<%= message.image %>" width="200px" /></div>
                      <% } %>
                    </div>
                  </li>
                <% }) %>
              <% } %>
            </ul>
          </div>

          <% if (chatData.he.id) { %>
            <div class="chat-message clearfix">
              <div class="emojy-panel" style="display: none;">
                <emoji-picker class="light"></emoji-picker>
              </div>
              <div class="emojy-icon"></div>
              <div class="file-icon"></div>
              <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
              <div class="typing" style="display: none;">
                <div class="typing-indicator">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <%= chatData.he.username %> is typing
              </div>
              <button class="send">Send</button>
              <div class="attachment">
                <input id="attachment" type="file" style="display: none;">
                <div class="attached-files"></div>
              </div>
            </div>
          <% } %>

        </div>
        
    </div>
      <script src="/js/chat.js"></script>
      <script src="/js/utils.js"></script>
      <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
      <script>const User = <%- JSON.stringify(chatData.me) %>; </script>
      <% if (chatData.room && chatData.room._id) { %>
        <script src="/js/attachtments.js"></script>
        <script>const Companion = <%- JSON.stringify(chatData.he) %>; </script>
        <script>connectRoom('<%= chatData.room.id %>');</script>
      <% } %>
  </body>
</html>